<div class="secret-stage">

  <!-- Floating hearts -->
  <div class="hearts">
  @for (h of hearts; track $index) {
    <span>💗</span>
  }
</div>

  <div class="card">

    <div class="lock">🔐</div>

    <h1>Secret Entry</h1>

    <input
      type="password"
      placeholder="Enter secret password"
      [(ngModel)]="password"
      (focus)="error = false"
    />

    <p class="hint">Hint: Our anniversary 💞</p>

    <button (click)="unlock()">Unlock 💖</button>

    @if (error) {
      <p class="error">Wrong password 😘 Try again</p>
    }

  </div>

</div>
